---
import DocumentationLayout from "@layouts/DocumentationLayout.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export const getCategoriesWithDocsByType = async (type: string) => {
  const allDocs = await getCollection("docs");
  const sortedCategories = (await getCollection("categories")).filter((category) => category.data.type === type).sort((a, b) => a.data.order - b.data.order);

  return sortedCategories.map((category) => {
    const docs = allDocs.filter((doc) => doc.data.category.slug === category.slug).sort((a, b) => a.data.categoryOrder - b.data.categoryOrder);
    return {
      ...category,
      docs,
    };
  });
};

const utilities = await getCategoriesWithDocsByType("utilities");
const components = await getCategoriesWithDocsByType("components");
---

<Layout title="Welcome to jelly.ui">
  <div class="mx-auto grid max-w-8xl grid-cols-4 gap-8 bg-violet-200 p-8">
    {
      utilities.map((utility) => (
        <div class="rounded-lg border border-violet-500 bg-white p-4">
          <h4 class="text-2xl font-bold">{utility.data.title}</h4>
          <ul class="mt-4">
            {utility.docs.map((doc) => (
              <li>
                <span class="text-sm font-bold">{doc.data.title}</span> - <span class="text-xs">{doc.slug}</span>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
  <div class="mx-auto grid max-w-8xl grid-cols-4 gap-8 bg-orange-200 p-8">
    {
      components.map((component) => (
        <div class="rounded-lg border border-violet-500 bg-white p-4">
          <h4 class="text-2xl font-bold">{component.data.title}</h4>
          <ul class="mt-4">
            {component.docs.map((doc) => (
              <li>
                <span class="text-sm font-bold">{doc.data.title}</span> - <span class="text-xs">{doc.slug}</span>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>

  <!-- <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit rerum illum perspiciatis neque deserunt voluptatem? Atque sit, porro deserunt adipisci error quis consectetur
    reprehenderit maxime, omnis autem deleniti ipsum commodi!
  </p>
  <p>
    Qui quis vitae exercitationem ipsam optio beatae magni. Consequuntur natus cupiditate pariatur cumque? Molestiae animi hic, eos quisquam sapiente labore ut, blanditiis cumque id modi
    saepe maiores alias quis praesentium.
  </p>
  <p>
    Voluptates perferendis nisi exercitationem, ipsam praesentium repellendus error quod odio cum quam adipisci neque placeat obcaecati autem, quasi laboriosam sit fuga ducimus. Eos autem
    est repudiandae cupiditate enim perspiciatis officia?
  </p>
  <p>
    Consequuntur nulla obcaecati officiis veniam enim aliquam saepe dignissimos et itaque porro ullam cumque dolorum, dolor incidunt modi fugit corrupti distinctio? Maiores facere ut
    consequatur aliquam, natus provident magnam numquam.
  </p> -->
</Layout>

<style></style>
